@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(to bottom, #3AD07E, #154B2E);
    padding: 15px;
}

header h1 {
    letter-spacing: -1px;
    font-size: 30px;
}

.titulos {
    color: white;
    text-align: center;
    padding: 10px 0px 0px 16px;
}

nav a {
    text-decoration: none;
    text-align: left;
    color: white;
    font-size: 16px;
    padding: 10px;
}

nav a:hover {
    background-color: #2FA866;
    border-radius: 5px;
}

main {
    background-color: #84E1AD;
    padding: 0 0 1px 0;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.4);
    font-family: "Bebas Neue", sans-serif;
}

main div {
    background-color: white;
    margin: auto auto 50px auto;
    max-width: 795px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

main h1 {
    font-family: 'idroid', sans-serif;
    color: #22623F;
}

main h2 {
    font-family: 'idroid', sans-serif;
    color: #286845;
    background: linear-gradient(to right, #C5EBD6, white);
    padding: 5px;
    border-radius: 5px;
}

main p {
    text-align: justify;
    text-indent: 30px;
}

main img {
    margin: auto;
    display: block;
}

main strong {
    color: #4A7E62;
}

main a {
    text-decoration: none;
    color: #4A7E62;
    font-weight: bold;
}

main a::after {
    content: " 🔗"
}

main a:hover {
    color: #2FA866;
    text-decoration: underline;
}

.videos {
    background-color: #1A5C38;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 60%;
    position: relative;
}

iframe {
    display: block;
    margin: auto;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.curiosidades {
    background-color: #C5EBD6;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}

.curiosidades h3 {
    color: white;
    background-color: #2FA866;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

ul {
    columns: 2;
}

li::marker {
    content: "✓   ";
}

footer {
    text-align: center;
    background-color: #1A5C38;
    color: white;
    font-size: 14px;
    padding: 1px;
}